*{
  text-decoration:none;
  text-shadow: rgb(95, 95, 98);
  color: rgba(175, 173, 189, 0.974);
  text-align:center;
}
body{
    padding-bottom: 60 px;
    margin-top: 10px;
    color:#9a6be1;
    background-color:#000000fc;
    font-size: larger;
}
.row,h4{
  margin-top: 50px;
  margin-bottom: 15px;
  color: #cd4949;
}
.row.text-center,h1{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(249, 146, 90);
  font-size: xx-large;
}
footer{
  color:#eeac5fd6;
  margin-top: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
}
h3,button{
  color: rgb(157, 69, 204);
  text-decoration: solid;
  border: 2px solid transparent;
  font-weight: bold;
  box-sizing: 5px;
  box-sizing: border-box;
}
h3,button:hover{
  color: rgb(84, 8, 8);
}

